{{ define "main"}}
<div id="archive">
  <ul class="post-list">

  {{ $pages := .Paginator.Pages }}
  {{ if .Site.Params.showAllPostsArchive }}
    {{ $pages = .Pages }}
  {{ end }}

  {{ range (sort $pages (cond (gt "Date" 0) "Date" "Lastmod") "desc" "desc") }}
    {{ $pageYear := cond (gt .Date 0) (.Date.Format "2006") (.Lastmod.Format "2006") }}
    {{ if (ne $pageYear ($.Scratch.Get "year")) }}
    {{ $.Scratch.Set "year" $pageYear }}
    <h2>{{ $pageYear }}</h2>
    {{ end }}
    <li class="post-item">
      <div class="meta">
        {{if gt .Date 0}}
          <time>{{ .Date.Format "2006-01-02"}}</time>
        {{ else }}
          <time>{{ .Lastmod.Format "2006-01-02" }}</time>
        {{ end }}
      </div>
      <span>    
        <a class="" href="{{ .Permalink }}">{{ if .Title }} {{ .Title }} {{ else }} Untitled {{ end }}</a>
      </span>
    </li>
    {{ end }}
  </ul>
  {{ if not .Site.Params.showAllPostsArchive}}
    {{ partial "pagination.html" . }}
  {{ end }}
</div>
{{ end }}
